h1 {
  color: rgb(55, 124, 109);

}

body {
  /* background-color: beige; */
  background: linear-gradient(45deg, beige, whie);
}


p, h3, h1 {
  font-family: 'Roboto Slab', serif;

}

h3 {
  color: rgb(230, 75, 101);
  font-weight: bolder;
}


a {
  color: rgb(187, 193, 49);
}

#intro {
  text-align: center;

}

.bg {
  text-align:center;
  width:500;
  margin-top: ;
  padding: 10px 30px 10px 30px;
}

#container {
  font-family: 'Roboto Slab', serif;
  content: "";
  display: table;
  clear: both;
}

.left {
  text-align: left;
  float: left;
  height: auto;
  /* max-width: 500px; */
  padding: 10px 10px ;
  /* border: 2px solid rgb(45, 108, 103); */
  margin: 2px; 
}

.right {
  text-align: left;
  float: left;
  height: auto;
  /* width: 45%; */
  padding: 10px 10px 10px 30px;
  /* border: 2px solid rgb(248, 147, 63); */
}

#column1 {
  /* background-color: white; */

}

#column2 {
  /* background-color: white; */
}
