h1 {
  color: rgb(55, 124, 109);

}

body {
  background: linear-gradient(45deg, beige, white);
  font-family: 'Roboto Slab', serif;

}

h3 {
  color: rgb(230, 75, 101);
  font-weight: bolder;
}


a {
  color: rgb(187, 193, 49);
}

#intro {
  text-align: center;

}

#img {
  vertical-align: text-bottom;
}

.bg {
  text-align:center;
  width:500
  max-resolution:top 10px;
  padding: 10px 30px 10px 30px;
}

#container {
  content: "";
  display: table;
  clear: both;
  word-wrap:break-word;
}

.left {
  text-align: left;
  float: left;
  height: auto;
  /* max-width: 500px; */
  padding: 50px 10px 50px 10px;
  /* border: 2px solid rgb(45, 108, 103); */
  margin: 2px; 
}

.right {
  text-align: left;
  float: left;
  height: auto;
  width: 45%;
  padding: 10px 10px 50px 10px;
  /* border: 2px solid rgb(248, 147, 63); */
}

}
