/*

html {
  font-family: sans-serif; 
}
h1 {
  color:blue;
}
#guessField {
  background-color:red;
}

#guessField {
  color:pink;
}

#submit {
  background-color:blue;
}

body {
  background-color: green;
  width: 50%; 
	max-width: 800px; 
	min-width: 480px; 
	margin: 0 auto;
} 

*/